nav {
	background-color: #333;
	color: #fff;
	height: 50px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
	width: 15%;
	text-align: center;
}

nav a {
	display: block;
	color: #fff;
	padding: 18px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: #333;
}

div {
	margin: 10px 0;
}

input[type="text"]{
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 50%;
}

.button-container {
	display: flex;
	justify-content: space-around; /* 按鈕間距平均分配 */
}
  
.btnMenu {
	padding: 10px 20px;
	background-color: rgb(104 140 231);
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
.btnMenu:hover {
	background-color: #2980b9;
}

.btnMenu2 {
	padding: 10px 20px;
	background-color: #c68c53;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
.btnMenu2:hover {
	background-color: #ac7339;
}

.createBtn {
	width: 120px;
	margin: auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
	box-shadow: 0 0 10px #cccccc;
}

.updateBtn {
	width: 80px;
	padding: 10px;
	background-color: #68aabc;
	color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

.deleteBtn {
	width: 70px;
	margin: auto;
	padding: 10px;
	background-color: #ca8aff;
	color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

.doubleLayer {
	width: 120px;
	padding: 10px;
	background-color: #f595ba;
	color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

button[type="submit"] {
	display: block;
	margin: auto;
	padding: 10px 20px;
	background-color: #008CBA;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

button[type="submit"]:hover {
	cursor: pointer;
	background-color: #006F8A;
}

table {
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
}

th,
td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: #56b2a9;
	color: white;
}

tr {
	background-color: #cccccc	;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

#content {
	text-align: center;
	font-size: 40px;
	color: firebrick;
}

.nested {
	background-color: #4775d1;
	color: white;
	padding: 10px;
}
	
.hidden {
	display: none;
}
	
.subtable {
	text-align: center;
}


  
.cube {
	position: absolute;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animateD 8s linear infinite;
  }
  
  @keyframes animateD {
	0% {
	  transform: rotateX(-15deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(-15deg) rotateY(-360deg);
	}
  }
  
  .cube div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
  }
  
  .cube div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .topD {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: transparent;
	border: 2px solid #7dff99;
	transform: rotateX(90deg) translateZ(150px);
  }
  
  .topD::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: transparent;
	border: 2px solid #7dff99;
	transform: translateZ(-400px);
	filter: blur(30px);
	box-shadow: 0 0 120px rgba(125, 255, 153, 0.2),
	  0 0 200px rgba(125, 255, 153, 0.4), 0 0 300px rgba(125, 255, 153, 0.6),
	  0 0 4000px rgba(125, 255, 153, 0.8), 0 0 500px rgba(125, 255, 153, 1);
  }
  
  .cube2 {
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	animation: animateD2 5s ease-out infinite alternate;
  }
  
  @keyframes animateD2 {
	0% {
	  transform: rotateX(0deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(180deg) rotateY(-360deg);
	}
  }
  
  .cube2 div {
	position: absolute;
	top: 35px;
	left: 0;
	width: 65%;
	height: 65%;
	transform-style: preserve-3d;
  }
  
  .cube2 div span {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 65%;
	height: 65%;
	background: transparent;
	border: 2px solid #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
  }
  
  .cube3{
	position: absolute;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animateD3 1s ease-in-out infinite alternate;
  }
  
  @keyframes animateD3 {
	0% {
	  transform: rotateX(-90deg) rotateY(0deg);
	}
  
	100% {
	  transform: rotateX(90deg) rotateY(45deg);
	}
  }
  
  .cube3 div {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;
	
  }
  
  .cube3 div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7dff99;
	transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
	box-shadow: 0px 0px 7px #7dff99;
  }
  
  .top3 {
	position: absolute;
	top: 0;
	left: 0;
	background: #7dff99;
	transform: rotateX(90deg) translateZ(14px);
	box-shadow: 0px 0px 10px #7dff99;
  }

#to {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
text {
	font-size: larger;
	color: red;
}
